.idea/
*.iml
*.yaml
*.log
*.log.*
/target
*.csv
/tmp
*.com
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
!resources/*
